<!-- <% @article_hash["data"]["children"].each do |a| %>
   <% title = a["data"]["title"] %>
   <% rank = a["data"]["ups"] %>
   <% link = a["data"]["url"] %>
   <h1><%= title %></h1>
   <h3><%= rank %></h3>
   <p><%= link %></p>
<% end %> -->
