/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
 @import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
 @import url(https://fonts.googleapis.com/css?family=Lato:400,700);

  body {
    overflow: hidden;
    background: #fff;
  }

  .navigation_page, .about_page {
    background: url(asset_path( 'cloud_background_opacity' ));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

 .navigation {
  display: inline-block;
 	background-color: #f0f5f8;
  font-family: "Source Sans Pro";
 	width: 100%;
 	height: 5em;
 	margin-right: auto;
 	margin-left: auto;
 }
 .logo {
 	float: left;
 	padding-top: .3em;
 	padding-left: 2em;
 	width: 12em;
 }

 .nav-links {
 	float: right;
  font-size: 1.2em;
 	display: inline-block;
 	padding-right: 3em;
 	padding-top: .8em;
 	font-weight: 400;
 }
 .nav-links a {
 	transition: color .25s ease;
 	text-decoration: none;
 	color: #40565C;
 }
 .nav-links a:visited {
 	color: #40565C;
 }
 .nav-links a:hover {
 	color: #C4D2DB;
 	cursor: pointer;
 }

.container {
  width: 100%;
}

text {
  cursor: pointer;
  cursor: hand;
}

.dropdown {
  width: 30%;
  margin: 0 auto;
  margin-top: 18em;
  text-align: center;
}

.form-control {
}

.description {
  margin: 0 auto;
  text-align: center;
  margin-top: 14em;
  width: 50%;
}

.description h1 {
  font-size: 3em;
}

.description p {
  font-size: 1.2em;
}

.contact {
  margin-top: 6em;
}

.brewer {
  text-align: center;
}

.machen {
  text-align: center;
}

.avatar {
  margin: 0 auto;
  height: 20em;
}
