/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
 @import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

 body {
   background: #fafafa;
 }

 .navigation {
 	background-color: #f0f5f8;
  font-family: "Source Sans Pro";
 	width: 100%;
 	height: 5rem;
 	top: 0;
 	margin-right: auto;
 	margin-left: auto;
 }
 .logo {
 	float: left;
 	padding-top: .3em;
 	padding-left: 2em;
 	width: 9em;
 }

 .nav-links {
 	float: right;
 	display: inline-block;
 	padding-right: 3em;
 	padding-top: .9em;
 	font-weight: 400;
 }
 .nav-links a {
 	transition: color .25s ease;
 	text-decoration: none;
 	color: #40565C;
 }
 .nav-links a:visited {
 	color: #40565C;
 }
 .nav-links a:hover {
 	color: #C4D2DB;
 	cursor: pointer;
 }

.container {
  margin-top: 130px;
  text-align: center;
}

#word-cloud {
  margin: 0 auto;
}

text {
  cursor: pointer;
  cursor: hand;
}
