<body class="about_page">
  <nav class ="navigation">
  	<div class="content">
  		<ul>
  			<li class="nav-links"><a href="https://github.com/tylerbrewer2/news_cloudr" target ="_blank">Github</a></li>
  			<li class="nav-links"><a href="#">Contact</a></li>
  			<li class="nav-links"><a href="<%= about_path %>">About</a></li>
  		</ul>
  	</div>
    <a href= <%=root_path%>><img class="logo" src="<%= asset_path( 'cloudr.png' ) %>"></a>
  </nav>
  <div class="description">
    <h1 class = "description_head">Thanks for visiting Cloudr!</h1>
    <p class = "description_body">
    Cloudr was made as a student project by Tyler Brewer and Tyler Machen at Flatiron School. We used Ruby on Rails and D3.js to make Cloudr.
    For comments or suggestions please click the "contact" link and send either of us a message! To view the github repo, visit <a href="#">this</a> link
    </p>
  </div>
</body>
