<body class="contact_page">
  <nav class ="navigation">
    <div class="content">
      <ul>
        <li class="nav-links"><a href="https://github.com/tylerbrewer2/news_cloudr" target ="_blank">Github</a></li>
        <li class="nav-links"><a href="<%= contact_path %>">Contact</a></li>
        <li class="nav-links"><a href="<%= about_path %>">About</a></li>
      </ul>
    </div>
    <a href= <%=root_path%>><img class="logo" src="<%= asset_path( 'cloudr.png' ) %>"></a>
  </nav>

  <div class="container contact">
    <div class="row row-centered">
      <div class="col-xs-1">
      </div>
      <div class=" brewer col-xs-5 col-centered">
        <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAZNAAAAJDJhNDdiNzViLWY0ODktNDIzNy04OGUyLTIyOWMzMjMzMWY2MA.jpg" class="img-responsive img-circle avatar" alt=""/>
        <h2>Tyler Brewer</h2>
        <h4><a href="https://github.com/tylerbrewer2" target="_blank">Github</a></h4>
        <h4><a href="https://twitter.com/tyler_brewer2" target="_blank">Twitter</a></h4>
      </div>

      <div class=" machen col-xs-5 col-centered">
        <img src="https://avatars1.githubusercontent.com/u/10608978?v=3&s=400" class="img-responsive img-circle avatar" alt="" />
        <h2>Tyler Machen</h2>
        <h4><a href="https://github.com/tylermachen" target="_blank">Github</a></h4>
        <h4><a href="https://twitter.com/tylermachen" target="_blank">Twitter</a></h4>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
  </div>
</body>
